<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<title>管理员-编辑新闻</title>
	<link rel="stylesheet" href="../../assets/libs/particles/css/style.css">
	<link rel="stylesheet" href="../../assets/libs/sweetalert2/sweetalert2.min.css">
	<link rel="stylesheet" href="../../assets/css/base.css">
	<link rel="stylesheet" href="../../assets/css/MC.css">
    
</head>
<body>
    <!-- particles.js container -->
	<div id="particles-js"></div>
	    <div id="topbox">
            <img src="./管理员头像-小.png" alt="头像" id="xiaotouxiang">
            <span id="M" title="单击退出">管理员</span>
        </div>
		<img src="./管理员头像.png" alt="头像" id="touxiang">
		<span id="MC_">
			管理中心
		</span>
		<div id="outbox">
			<nav class="switch_nav">
				<a href="./MC_News.html"id="switch_signup" class="switch_btn">新闻管理</a>
				<a href="./MC_Web.html" id="switch_signup" class="switch_btn">网站管理</a>
                <a href="./MC_user.html" id="switch_signup" class="switch_btn">用户管理</a>
                <a href="./MC_addNews.html" id="switch_login" class="switch_btn">添加新闻</a>
				<div class="switch_bottom" id="switch_bottom"></div>
			</nav>
			<hr id="highhr">
			<div id="sheetbox">
                <form id="addform" method="post" action="./MC_user.html">
                    <ul class="group_input">
                        <li>
                            <input type="text" name="changeUserPsd" id="UserNewPsd" class="UserNewPsd required" placeholder="请输入新的密码">
                        </li>
                    </ul>
                    <button type="submit" id="submit_btn" class="submit_btn">提交</button>
                    <button class="submit_btn" id="cancle">返回</button>
                </form>
            </div>
		</div>    
    <script src="../../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../../assets/libs/sweetalert2/sweetalert2.min.js"></script>
	<script src="../../assets/libs/particles/particles.min.js"></script>
	<script src="../../assets/libs/particles/js/app.js"></script>
    <script>
        $(function(){
            //为表单的必填文本框添加提示信息（选择form中的所有后代input元素）
            // $("form :input.required").each(function () {
            //     //通过jquery api：$("HTML字符串") 创建jquery对象
            //     var $required = $("<strong class='high'>*</strong>");
            //     //添加到this对象的父级对象下
            //     $(this).parent().append($required);
            // });
                // var errorMsg = $(".error-msg").text();
            //为表单元素添加失去焦点事件
                $("form :input").blur(function(){
                    var $parent = $(this).parent();
                    $parent.find(".msg").remove(); //删除以前的提醒元素（find()：查找匹配元素集中元素的所有匹配元素）
                    // //验证姓名
                    // if($(this).is("#name2")){
                    //     var nameVal = $.trim(this.value);
                    //     var regName = /[~#^$@%&!*()<>:;'"{}【】  ]/;
                    //     if(nameVal == "" || nameVal.length < 2 || regName.test(nameVal)){
                    //         var errorMsg = " 姓名非空，长度2-20位，不包含特殊字符！";
                    //         $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                    //     } else{
                    //         var okMsg=" 输入正确";
                    //         $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                    //     }
                    // }			
                    //验证密码
                    if($(this).is("#UserNewPsd")){
                        var psdVal = $.trim(this.value);
                        var regPsd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
                        if(psdVal== "" || !regPsd.test(psdVal)){
                            var errorMsg = " 密码为6-20位字母、数字的组合！";
                            $parent.append("<span class='msg onError' style='top:60px;left:390px'>" + errorMsg + "</span>");
                        }
                        else{
                            var okMsg=" 输入正确";
                            $parent.append("<span class='msg onSuccess' style='top:60px;left:390px'>" + okMsg + "</span>");
                        }
                    }
                }).keyup(function(){
                    //triggerHandler 防止事件执行完后，浏览器自动为标签获得焦点
                    $(this).triggerHandler("blur"); 
                }).focus(function(){
                    $(this).triggerHandler("blur");
                });
                        //点击重置按钮时，通过trigger()来触发文本框的失去焦点事件
                // $("#btnSubmit1").click(function(){
                //     //trigger 事件执行完后，浏览器会为submit按钮获得焦点
                //     $("form :input.required.name1").trigger("blur"); 
                //     var numError = $("form .onError").length;
                //     if(numError){
                //         alert("请输入正确的格式");
                //         return false;
                //     }else{
                //         alert("修改成功");
                //         return true;
                //     }      
                // });
                $("#submit_btn").click(function(){
                    //trigger 事件执行完后，浏览器会为submit按钮获得焦点
                    $("form :input.required.UserNewPsd").trigger("blur"); 
                    var numError = $("form .onError").length;
                    if(numError){
                        alert("请输入正确的格式")
                        return false;
                    }
                    else{
                        alert("修改成功");
                        return true;
                    }
                });   
            })
        //单击左上角管理员返回登录界面
        document.getElementById("M").onclick=function() {
            location.replace("../login.html");
        };
    </script>
</body>
</html>