<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<title>管理员-添加新闻</title>
	<link rel="stylesheet" href="../../assets/libs/particles/css/style.css">
	<link rel="stylesheet" href="../../assets/libs/sweetalert2/sweetalert2.min.css">
	<link rel="stylesheet" href="../../assets/css/base.css">
	<link rel="stylesheet" href="../../assets/css/MC.css">
    
</head>
<body>
    <!-- particles.js container -->
	<div id="particles-js"></div>
	    <div id="topbox">
            <img src="./管理员头像-小.png" alt="头像" id="xiaotouxiang">
            <span id="M" title="单击退出">管理员</span>
        </div>
		<img src="./管理员头像.png" alt="头像" id="touxiang">
		<span id="MC_">
			管理中心
		</span>
		<div id="outbox">
			<nav class="switch_nav">
				<a href="./MC_News.html"id="switch_signup" class="switch_btn">新闻管理</a>
				<a href="./MC_Web.html" id="switch_signup" class="switch_btn">网站管理</a>
                <a href="./MC_user.html" id="switch_signup" class="switch_btn">用户管理</a>
                <a href="./MC_addNews.html" id="switch_login" class="switch_btn">添加新闻</a>
				<div class="switch_bottom" id="switch_bottom"></div>
			</nav>
			<hr id="highhr">
			<div id="sheetbox">
                <form id="addform" method="post" action="./MC_News.html">
                    <ul class="group_input">
                        <li>
                            <input type="text" name="News_title" id="News_title" placeholder="新闻标题">
                        </li>
                        <li>
                            <input type="text" name="News_keywords" id="News_keywords" placeholder="关键字">
                        </li>
                        <li>
                            <input type="text" name="News_abstract" id="News_abstract" placeholder="新闻摘要">
                        </li>
                        <li>
                            <input type="text" name="News_classification" id="News_classification" placeholder="新闻分类">
                        </li>
                        <li>
                            <input type="text" name="News_web" id="News_web" placeholder="新闻网址">
                        </li>
                        <li>
                            <input type="text" name="News_url" id="News_url" placeholder="新闻url">
                        </li>
                    </ul>
                    <button type="submit" class="submit_btn">提交</button>
                    <button class="submit_btn" id="cancle">返回</button>
                </form>
            </div>
		</div>    
    <script src="../../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../../assets/libs/sweetalert2/sweetalert2.min.js"></script>
	<script src="../../assets/libs/particles/particles.min.js"></script>
	<script src="../../assets/libs/particles/js/app.js"></script>
    <script>
        //单击左上角管理员返回登录界面
        document.getElementById("M").onclick=function() {
            location.replace("../login.html");
        };
    </script>
</body>
</html>