*{
	margin: 0;
	padding: 0;
}
body{
	color: #555;
	font-size: 15px;
	line-height: 1.7;
	background-color: #f7fafc;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}
html,body{
	height: 100%;
}
body,ul,ol,li,h1,h2,h3,h4,h5,p{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
#highhr{
	position: absolute;
	width: 1700px;
	height: 0px;
	left: 50px;
	top: 100px;
	border: 4px solid #0f88eb;
	color: #0f88eb;
}
#topbox{
    position: absolute;
    width: 1920px;
    height: 103px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.160784);
}
#MC_{
	position: absolute;
	width: 194px;
	height: 60px;
	left: 152px;
	top: 142.43px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 59px;
	/* identical to box height, or 132% */
	/* letter-spacing: 4.5px; */
	color: #171717;	
}
#touxiang{
	position: absolute;
	width: 65.8px;
	height: 79px;
	left: 64px;
	top: 136px;
}
#outbox{
	position: absolute;
	width: 1791px;
	height: 780px;
	left: 64px;
	top: 272px;

	background: #ffffffea;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.160784);
}
.switch_nav{
	margin:10px 0 20px;
	position: relative;
	width: 580px;
	height: 40px;
	left: 70px;
	top: 30px;
}
.switch_nav a{
	color: #000000;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	margin:0 10px;
	display: inline-block;
}
.switch_nav a:hover{
	color: rgb(0, 0, 0);
}
.switch_nav .switch_btn.on{
	color: #0f88eb;
	border-bottom: 2px solid #0f88eb;
}
#sheetbox{
	position: absolute;
	width: 1700px;
	height: 550px;
	left: 50px;
	top: 130px;
}
td{
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
/* identical to box height, or 132% */
	letter-spacing: 3px;
	color: #171717;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
}
#sheettop td{
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
/* identical to box height, or 132% */
	letter-spacing: 3px;
	color: #171717;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
}
#sheethr1{
	position: relative;
	width: 1700px;
	height: 0px;
	left: auto;
	top: 100px;
	border: 2px solid #585656;
	color: #585656;
}
#sheethr2{
	position: relative;
	width: 1700px;
	height: 0px;
	left: auto;
	top: 180px;
	border: 2px solid #585656;
	color: #585656;
}
#sheethr3{
	position: relative;
	width: 1700px;
	height: 0px;
	left: auto;
	top: 270px;
	border: 2px solid #585656;
	color: #585656;
}
#sheethr4{
	position: relative;
	width: 1700px;
	height: 0px;
	left: auto;
	top: 360px;
	border: 2px solid #585656;
	color: #585656;
}
#sheethr5{
	position: relative;
	width: 1700px;
	height: 0px;
	left: auto;
	top: 450px;
	border: 2px solid #585656;
	color: #585656;
}
#sheethr6{
	position: relative;
	width: 1700px;
	height: 0px;
	left: auto;
	top: 540px;
	border: 2px solid #585656;
	color: #585656;
}
ul.pagination {
    display: inline-block;
	position: relative;
    padding: 0;
    margin: 0;
}
ul.pagination li {
	display: inline;
}
ul.pagination li a {
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li span {
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}
.submit_btn{
	position: relative;
	width: 30%;
	box-shadow: none;
	left: 35%;
	border:0;
	line-height: 45px;
	font-size: 15px;
	display: block;
	margin:20px 0;
	color: #fff;
	background-color: #0f88eb;
	border-radius: 3px;
}
#cancle{
	position: relative;
	width: 30%;
	box-shadow: none;
	left: 35%;
	border:0;
	line-height: 45px;
	font-size: 15px;
	display: block;
	margin:20px 0;
	color: rgb(0, 0, 0);
	background-color: #aaaaaa;
	border-radius: 3px;
}
.group_input {
	position: relative;
	text-align: center;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
}
.group_input input{
	text-align: left;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	font-size: 15px;
	width: 900px;
	padding: 15px 10px;
	margin: 10px;
	border:1px solid #0000006b;
	border-radius: 3px;
	background-color: #fff;
	background: #FFFFFF;
	/* border: 1px solid #707070; */
}
.group_input li {
	width: 1700px;
	position: relative;
}
#M{
	position: absolute;
	width: 150px;
	height: 47px;
	left: 1743px;
	top: 30.89px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 46px;
/* identical to box height, or 132% */
	letter-spacing: 3.5px;
	color: #171717;
}
#xiaotouxiang{
	position: absolute;
	width: 60.76px;
	height: 60.76px;
	left: 1666px;
	top: 26.12px;
}
.change{
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
/* identical to box height, or 132% */
	color: #171717;
	width: 90px;
	height: 40px;
	background-color: #0f88eb;
	border-width:0px;
	border-radius: 5px;

}
.del{
	background-color: #f30c0c;
	border-width:0px;
	border-radius: 5px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
/* identical to box height, or 132% */
	color: #171717;
	width: 90px;
	height: 40px;
}
#userhand{
	position: absolute;
	width: 60.76px;
	height: 60.76px;
	left: 32px;
	top: 18.12px;
}
#U{
	position: absolute;
	width: 780px;
	height: 47px;
	left: 109px;
	top: 22.89px;
	text-align: left;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 46px;
	/* identical to box height, or 132% */

	letter-spacing: 3.5px;

	color: #171717;
}
.click_on{
	background: #0f88eb52;
}
#main{
	position: absolute;
	width: 140px;
	height: 66px;
	left: 1207px;
	top: 15px;
	mix-blend-mode: normal;
	border-width:0px;
	border-radius: 10px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;
	/* identical to box height, or 132% */
	letter-spacing: 2.5px;
	color: #171717;
}
#keyword{
	position: absolute;
	width: 166px;
	height: 66px;
	left: 1373px;
	top: 13px;
	mix-blend-mode: normal;
	border-width:0px;
	border-radius: 10px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;
	/* identical to box height, or 132% */
	letter-spacing: 2.5px;
	color: #171717;
}
#classify{
	position: absolute;
	width: 157px;
	height: 66px;
	left: 1552px;
	top: 13px;
	mix-blend-mode: normal;
	border-width:0px;
	border-radius: 10px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;
	/* identical to box height, or 132% */
	letter-spacing: 2.5px;
	color: #171717;
}
#visual{
	position: absolute;
	width: 179px;
	height: 66px;
	left: 1726px;
	top: 15px;
	mix-blend-mode: normal;
	border-width:0px;
	border-radius: 10px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;
	/* identical to box height, or 132% */
	letter-spacing: 2.5px;
	color: #171717;
}
#dataimg{
	position: absolute;
	width: 43.33px;
	height: 36.67px;
	left: 427.67px;
	top: 135.67px;
}
#datafont{
	position: absolute;
	width: 140px;
	height: 40px;
	left: 487px;
	top: 131.62px;

	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	/* identical to box height, or 132% */

	letter-spacing: 3px;

	color: #666666;

}
#databox{
	position: absolute;
	width: 1076px;
	height: 766px;
	left: 422px;
	top: 215px;
	background: #ffffffea;
	border-color: #000000;
	border:1px dotted #707070;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.160784);
	border-radius: 40px;
}
#datahr{
	position: absolute;
	width: 1076px;
	height: 0px;
	top: 107.5px;
	border: 1px solid #707070;
}
#deldataimg{
	position: absolute;
	width: 62.23px;
	height: 65.3px;
	left: 817.7px;
	top: 22.78px;
}
#deldatafont{
	position: absolute;
	width: 132px;
	height: 44px;
	left: 896px;
	top: 30.18px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 33px;
	line-height: 44px;
	/* identical to box height, or 132% */
	color: #696969;
}
#basedata{
	position: absolute;
	width: 195px;
	height: 60px;
	left: 45.5px;
	top: 19.43px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 59px;
	/* identical to box height, or 132% */
	letter-spacing: 3.6px;
	color: #1F1F1F;
}
#userheadbig{
	position: absolute;
	width: 211.88px;
	height: 211.88px;
	left: 423.98px;
	top: 138.12px;
}
#name1{
	position: absolute;
	width: 162px;
	height: 70px;
	left: 45.5px;
	top: 406.7px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 66px;
	/* identical to box height, or 132% */
	letter-spacing: 4px;
	color: #1F1F1F;
}
#password1{
	position: absolute;
	width: 162px;
	height: 70px;
	left: 45.5px;
	top: 576.7px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 66px;
	/* identical to box height, or 132% */
	letter-spacing: 4px;
	color: #1F1F1F;
}
#name2{
	position: absolute;
	width: 500px;
	height: 66px;
	left: 265.5px;
	top: 406.7px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 66px;
	/* identical to box height, or 132% */
	color: #484848;
	border: 0px;
}
#password2{
	position: absolute;
	width: 500px;
	height: 66px;
	left: 265.5px;
	top: 590.2px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 66px;
	/* identical to box height, or 132% */
	color: #484848;
}
.msg {
    position: absolute;
	top:700px;
    left: 600px;  
}
.msg.onError {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: red;
	top:680px;
	left:265px;
}
.msg.onSuccess {
    background: #f7fafc url(../img/reg_bg.png) no-repeat;
    background-position: -9px -4px;
    color: transparent;
    /* width: 18px; */
    height: 18px;
    left:265px;
    top: 680px;
}
/* #btnSubmit1{
	position: absolute;
	width: 150px;
	height: 60px;
	left: 836.87px;
	top: 407.16px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 53px;
	letter-spacing: 3.2px;
	color: #000000;
	background-color: #0f88eb;
	border-radius: 20px;
	border-color: #000000;
	border:1px dotted #707070;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.160784);
	border-radius: 20px;
} */
#btnSubmit2{
	position: absolute;
	width: 150px;
	height: 60px;
	left: 836.87px;
	top: 590.2px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 53px;
	/* identical to box height, or 132% */
	letter-spacing: 3.2px;
	color: #000000;
	background-color: #0f88eb;
	border-radius: 20px;
	border-color: #000000;
	border:1px dotted #707070;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.160784);
	border-radius: 20px;
}
#news_class{
	position: absolute;
	width: 965px;
	height: 131px;
	top: 135px;
	left: 439px;
	/* background-color: red; */
}
.class_img{
	position: absolute;
	top: 0px;
	left: 0px;
}
.class_title{
	position: absolute;
	width: 400px;
	height: 40px;
	left: 40px;
	top: 0px;  
	text-align: left;   
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;           
	letter-spacing: 3px;
	color: #666666;
}
.GCZ{
	position: absolute;
	width: 134px;
	height: 44px;
	left: 10px;
	top: 70px;
	mix-blend-mode: normal;
	border-width:0px;
	border-radius: 10px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 33px;
	/* identical to box height, or 132% */
	letter-spacing: 2.5px;
	color: #171717;
}
.SH{
	position: absolute;
	width: 134px;
	height: 44px;
	left: 174px;
	top: 70px;
	mix-blend-mode: normal;
	border-width:0px;
	border-radius: 10px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 33px;
	/* identical to box height, or 132% */
	letter-spacing: 2.5px;
	color: #171717;
}
.News_button_on{
	background: #0f88eb52;
}
.News_Box{
	width: 1000px;
	height: 190px;
	background: #FFFFFF;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.160784);
}
.Box_One{
	position: absolute;
	left: 439px;
	top: 300px;
}
.Box_Two{
	position: absolute;
	left: 439px;
	top: 534px;
}
.Box_Three{
	position: absolute;
	left: 439px;
	top: 768px;
}
.News_page{
	position: absolute;
	top: 980px;
}
.News_Title_font{
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 34px;
	/* identical to box height, or 132% */
	letter-spacing: 2.6px;
	color: #000000;
	text-align: left;
	position: absolute;
	width: 930px;
	height: 35px;
	left: 34px;
	top: 20px;
}
.News_Headline_font{
	position: absolute;
	width: 930px;
	height: 60px;
	left: 34px;
	top: 67px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	/* or 132% */
	letter-spacing: 2px;
	text-align: left;
	color: #666666;
}
.News_keyword{
	position: absolute;
	width: 930px;
	height: 30px;
	left: 34px;
	top: 150px;
	text-align: left;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1.8px;
	color: #666666;
}
.News_classfities{
	position: absolute;
	width: 930px;
	height: 30px;
	left: 900px;
	top: 150px;
	text-align: left;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1.8px;
	color: #666666;
}
#wordCloud{
	position: absolute;
	width: 1480px;
	height: 600px;
	left: 220px;
	top: 310px;
}
#histogram{
	position: absolute;
	width: 1750px;
	height: 800px;
	left: 85px;
	top: 250px;
}
#newsClassity{
	position: absolute;
	width: 400px;
	height: 60px;
	left: 50px;
	top: 70px;
	text-align: left;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 59px;
	/* identical to box height, or 132% */
	letter-spacing: 4.5px;
	color: #000000;
}
#newsClassityImg{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 80px;
}
#news_classify{
	position: absolute;
	width: 1480px;
	height: 600px;
	left: 220px;
	top: 250px;
}
.classify_btn{
	border-width:0px;
	border-radius: 10px;
	font-family: 'Abhaya Libre';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;
	letter-spacing: 2.5px;
	color: #666666;
	width: 200px;
	height: 75px;
}