<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<title>管理员-新闻管理</title>
	<link rel="stylesheet" href="../../../assets/libs/particles/css/style.css">
	<link rel="stylesheet" href="../../../assets/libs/sweetalert2/sweetalert2.min.css">
	<link rel="stylesheet" href="../../../assets/css/base.css">
	<link rel="stylesheet" href="../../../assets/css/MC.css">  
</head>
<body>
    <div id="particles-js"></div>
    <script src="../../../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../../../assets/libs/sweetalert2/sweetalert2.min.js"></script>
	<script src="../../../assets/libs/particles/particles.min.js"></script>
	<script src="../../../assets/libs/particles/js/app.js"></script>
        <div id="topbox">
            <img src="../../ManagementCenter/管理员头像-小.png" alt="头像" id="userhand">
            <span id="U" title="单击我跳转至用户设置">用户昵称</span>
            <button id="main"><img src="../img/主页.png" alt="主页">主页</button>
            <button id="keyword"><img src="../img/关键字.png" alt="关键字">关键字</button>
            <button id="classify" class="click_on"><img src="../img/分类.png" alt="分类">分类</button>
            <button id="visual"><img src="../img/可视化.png" alt="可视化">可视化</button>
        </div>
        <div id="news_class">
            <img src="../img/分类.png" alt="分类" class="class_img">
            <span class="class_title">分类</span>
            <span id="newsClassity">新闻分类</span>
            <img src="../img/新闻分类.png" alt="" id="newsClassityImg">
        </div>
        <div class="News_Box Box_One" onclick="gotoNewsUrl()">
            <div class="News_Title_font">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</div>
            <div class="News_Headline_font">新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</div>
            <div class="News_keyword">#关键词1#关键词2#关键词3#关键词4#关键词5</div>
        </div>
        <div class="News_Box Box_Two" onclick="gotoNewsUrl()">
            <div class="News_Title_font">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</div>
            <div class="News_Headline_font">新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</div>
            <div class="News_keyword">#关键词1#关键词2#关键词3#关键词4#关键词5</div>
        </div>
        <div class="News_Box Box_Three" onclick="gotoNewsUrl()">
            <div class="News_Title_font">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</div>
            <div class="News_Headline_font">新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</div>   
            <div class="News_keyword">#关键词1#关键词2#关键词3#关键词4#关键词5</div>
        </div>
        <ul class="pagination News_page">
            <li><a href="#">«</a></li>
            <li><span>1</span></li>
            <li><a href="#">»</a></li>
        </ul>
    <script>
        function gotoNewsUrl(){location.replace("#");}
        document.getElementById("keyword").onclick=function(){
            location.replace("../keyword.html");
        };
        document.getElementById("classify").onclick=function(){
            location.replace("../classify/classify.html");
        };
        document.getElementById("visual").onclick=function(){
            location.replace("../visual.html");
        };
        document.getElementById("U").onclick=function(){
            location.replace("../userSetting.html");
        };
    </script>
</body>
</html>